/* 3-header.css */
header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header img {
    margin-left: 20px;
    display: block;
}

header img,
header img:hover {
    height: 30px;
    width: auto;
}
