header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header img {
    background-image: url("../images/logo.png");
    margin-left: 20px;
    display: block;
}

header img,
header img:hover {
    height: 30px;
    width: auto;
}
